APP_URL=https://bmxfreestyle.pl
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
MAIL_FROM=BMX Freestyle Polska <zapisy@bmxfreestyle.pl>
MAIL_REPLY_TO=kontakt@bmxfreestyle.pl
ADMIN_NOTIFICATION_EMAIL=
ADMIN_LOGIN=admin
ADMIN_PASSWORD=
ADMIN_AUTH_SECRET=
